/*Pedir ahora boton*/

a.PedirA{ width: 30%;}
/*texto*/
h1,h2,h3{
    color:#fefae0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

p{
    color:#fefae0;
}
article.Menu{
    background-image: none;
    background-color: white;
    border: 1px solid;
}
/*imagen de fondo del inicio*/
body{
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 25px;
    height: 150px;
}

img{
    width: 100px;
    
}
/*boton del inicio*/
a:link, a:visited{
    background-color: #ccd5ae;
    color: white;
    padding: 14px 28px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    display: block;
    margin-right: auto;
    margin-left: auto;
    
}

/*Menu navegacion*/
a:hover, a:active{
    background-color: #e9edc9;
}

ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
li a:hover{
    background-color: #e9edc9;
}
